<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
    <div class="bg-white rounded shadow p-6 m-4 mt-12 lg:w-3/4 xl:w-2/4">
        <div class="mb-4">
            <h1 class="text-4xl font-black">Task Manager</h1>
            <form [formGroup]="newTodoForm" class="flex mt-4" (ngSubmit)="addTask()">
                <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
                    placeholder="Add Task" formControlName="todoItem">
                <input type="text" class="shadow appearance-none border rounded py-2 px-3 mr-2 text-grey-darker"
                    placeholder="Add Description" formControlName="description">
                <button type="submit"
                    class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal"
                    >Add
                </button>
            </form>
        </div>
        <div>
            <div class="flex flex-col mb-4" *ngFor="let value of taskList; index as i">
                <div class="flex items-center">
                    <p class="text-grey-darkest text-2xl font-black" [ngClass]="{'line-through': value.completed}">
                        {{value.name}}
                    </p>
                    <div class="ml-auto">
                        <button class="flex-no-shrink p-2 ml-4 border-2 rounded text-blue"
                            (click)="editTask(value)">Edit</button>
                        <button class="flex-no-shrink p-2 ml-2 border-2 rounded text-red"
                            (click)="removeTask(i)">Remove</button>
                    </div>
                </div>
                <p class="text-grey-darkest">{{value.description}}</p>
                <ng-container *ngIf="value.editMode">
                    <h3 class="mt-6 mb-2">Edit here</h3>
                    <input type="text" class="shadow appearance-none border rounded py-2 px-3 mr-2 text-grey-darker"
                        placeholder="Edit Task Name" [(ngModel)]="value.name">
                    <input type="text" class="shadow appearance-none border rounded py-2 px-3 mr-2 text-grey-darker"
                        placeholder="Edit Description" [(ngModel)]="value.description">
                    <button class=" p-2 mx-4 rounded text-blue border-blue hover:bg-blue"
                        (click)="saveTask(value)">Save</button>
                    <button class=" p-2 mx-4 rounded text-red border-red hover:bg-red"
                        (click)="cancelEdit(value)">Cancel</button>
                </ng-container>
            </div>
        </div>
    </div>
</div>
